<div class="background-image">
    <nav class="navbar row">
        <div class="col-7">
        </div>
        <div class="navdiv col-5">
            <ul class="navitems">
                <li class="nav-item">
                    <div class="getbutton justify-center"><button
                            class=" bg-primary buttonget justify-between "><span>Get
                                the App</span></button></div>
                </li>
                <li class="nav-item"><span class="play">PLAY</span>
                </li>
                <li class="nav-item" routerLink="/loginreq"><span class="book">BOOK</span>
                </li>
                <li class="nav-item" routerLink="/sportcards"><span class="book">ACTIVITIES</span>
                </li>
                <div class="d-flex logindiv">
                    <svg class="hidden" width="32" height="32" viewBox="0 0 32 32" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="16" cy="16" r="16" fill="#BCD0DC"></circle>
                        <path
                            d="M16.0089 8C17.5908 8.00176 19.1366 8.47244 20.451 9.35256C21.7654 10.2327 22.7894 11.4827 23.3936 12.9447C23.9977 14.4066 24.1549 16.0149 23.8452 17.5662C23.5355 19.1174 22.7729 20.5421 21.6537 21.66C20.5345 22.7779 19.1091 23.539 17.5575 23.8469C16.0059 24.1549 14.3978 23.9959 12.9365 23.3902C11.4752 22.7844 10.2263 21.759 9.34763 20.4436C8.46897 19.1282 8 17.5819 8 16C8.00058 14.9488 8.2082 13.9081 8.611 12.9372C9.0138 11.9663 9.60389 11.0842 10.3476 10.3413C11.0913 9.59844 11.974 9.00933 12.9454 8.6076C13.9167 8.20588 14.9577 7.99942 16.0089 8Z"
                            fill="white"></path>
                        <path
                            d="M10.305 17.1999C10.0087 15.9312 10.1463 14.5997 10.6959 13.4184C11.2455 12.2371 12.1753 11.2741 13.3367 10.6836C13.5709 11.9501 13.4048 13.2581 12.8615 14.4259C12.3182 15.5937 11.4247 16.5633 10.305 17.1999V17.1999Z"
                            fill="#BCD0DC"></path>
                        <path
                            d="M18.4365 10.5803C17.724 10.2513 16.9524 10.0695 16.168 10.0457C15.3836 10.0218 14.6024 10.1565 13.8712 10.4416C14.1631 11.866 13.9897 13.3466 13.3764 14.6651C12.7631 15.9835 11.7424 17.07 10.4648 17.7644C10.8145 18.7957 11.4469 19.7081 12.2899 20.3976C12.5489 20.7561 12.6918 21.1853 12.6995 21.6276C12.6455 22.166 12.5338 22.6971 12.3665 23.2117C12.8547 23 13.3298 22.759 13.7891 22.4901C14.1995 22.2471 14.5791 21.9554 14.9197 21.6215C16.0156 21.8262 17.1471 21.7129 18.1807 21.2951C17.88 19.8724 18.0478 18.3905 18.6591 17.0711C19.2607 15.7678 20.2589 14.6881 21.511 13.9861C21.2548 13.2404 20.8503 12.5542 20.322 11.9689C19.7936 11.3836 19.1523 10.9112 18.4365 10.5803Z"
                            fill="#BCD0DC"></path>
                    </svg>
                    <div class="login"  (click)="showPopUp()"> Login / Signup</div>
                </div>
            </ul>
        </div>
    </nav>

    <div class="row login-div" *ngIf="isPopUpVisible">
        <div class='popup'>
            <div class="div-popup">
                <div class="d-flex displaytop">
                    <h4 class="h4">Login/SignUp</h4>
                    <button type="button" class="btn-close custom-btn-close" (click)="hidePopUp()" aria-label="Close"></button>
                </div>
                <div class="adjustform">
                    <form #loginForm="ngForm" class="centerform" (ngSubmit)="login(loginForm)">
                        <div class="form-group">
                            <input type="text" id="username" name="username" placeholder=" enter username" [(ngModel)]="username" required>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="password" placeholder=" enter password" [(ngModel)]="password" required>
                        </div>
                        <button class="login btn btn-success" type="submit">login</button>
                    </form>
                </div>
                <div class="link"><a href="" routerLink="/loginreq" class="linktoregister">SignUp/here</a></div>
            </div>
        </div>
    </div>
</div>

<div>
    <img class="image" [src]="'assets/logo.png'" alt="Logo">
    <span class="overlay"></span>

</div>

<div class="row">
    <div class="first-m row">
        <div class="right col-1"></div>
        <div class="first-s col-11">
            <div class="z-50">
                <img class="logooo" [src]="'assets/logooo.png'" alt="playo-logo">
            </div>
            <h1 class="list">
                <div class="text-reveal-container">
                    <span class="animation-zoom-in" style="display: inline;">PLAY SPORTS</span>
                    <span class="animation-zoom-in" style="display: none;">JOIN GAMES</span>
                    <span class="animation-zoom-in" style="display: none;">BOOK VENUES</span>
                    <span class="animation-zoom-in" style="display: none;">MEET PLAYERS</span>
                </div>
            </h1>
            <span class="world">World’s Biggest Sports Community</span>
            <div class="playstore">
                <button class="bg-playstore">
                    <span class="space">Join Playo</span>
                    <img alt="playstore" class="playstoreim space" [src]="'assets/playstore+1.png'">
                    <img alt="download-playo" class="apple space" [src]="'assets/apple-logo+1.png'">
                </button>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <section class="section1">
        <div class=" sec-1">
            <div class="section1 col-6 d-flex">
                <div class="sec1-div"></div>
                <span class="sec1-text">Your one-stop platform for sports</span>
            </div>
        </div>
    </section>

    <section class="section2">
        <div class="sub-section2">
            <div class="section2-div row">
                <div class="justify-start merge-sec2 col-4">
                    <div class="relative1 d-flex">
                        <span class="span-image-sec2">
                            <img class="playwithplayer" alt="play-with-player" [src]="'assets/play-with-players.png'">
                        </span>
                        <div class="section2-text">Play with players around you </div>
                    </div>
                    <div class="justify-start">
                        <div class="relative2 d-flex">
                            <span class="span-image-sec2"> <img class="playwithplayer" alt="play-with-player"
                                    [src]="'assets/skill-up-game.png'"></span>
                            <div class="section2-text">Skill-up your game</div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="relative3 justify-center">
                        <img class="relative-image-3"
                            src="https://playo-website.gumlet.io/playo-website-v2/static_pages/badminton-girl.svg">
                    </div>
                </div>

                <div class="justify-start merge-sec3 col-4">
                    <div class="relative4 d-flex">
                        <span class="span-image-sec3">
                            <img class="playwithplayer" [src]="'assets/book-sports-venues.png'">
                        </span>
                        <div class="section3-text">Book Sport venues nearby </div>
                    </div>
                    <div class="justify-start">
                        <div class="relative4 d-flex">
                            <span class="span-image-sec2"> <img class="playwithplayer" alt="play-with-player"
                                    [src]="'assets/manage-sports.png'"></span>
                            <div class="section3-text">Manage your sports activities & groups</div>
                        </div>
                    </div>
                </div>

                <div class="relative5 row">
                    <div class="first-r  col-3" style="border-right: 1px solid #ccc;">
                        <h6 class="h1">2M+</h6>
                        <p class="p1">Users</p>
                    </div>
                    <div class="second-r col-3" style="border-right: 1px solid #ccc;">
                        <h6 class="h1">50+</h6>
                        <p class="p1">Sports</p>
                    </div>
                    <div class="third-r col-3" style="border-right: 1px solid #ccc;">
                        <h6 class="h1">6M+</h6>
                        <p class="p1">Sports Activities Enabled</p>
                    </div>
                    <div class="fourth-r col-3">
                        <h6 class="h1">4M+</h6>
                        <p class="p1 ">Player Connections Enabled</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section1 subclassofsection1">
        <div class=" sec-1">
            <div class="section1 col-6 d-flex">
                <div class="sec1-div"></div>
                <span class="sec1-text">Verified By Playholics</span>
            </div>
        </div>
    </section>

    <section class="section3">
        <div class="box-playstoreandistore">
            <div class="d-flex playstoreandistore">
                <div class="div-playstoreandistore">
                    <img class="playstoresym" [src]="'assets/sm-playstore.png'">
                </div>
                <div class="rating d-flex" style="border-right: 1px solid #ccc; height: 70px;margin-left: 25px;">
                    <p class="rate">4.7</p>
                    <img class="star" [src]="'assets/star.svg'">
                </div>
                <div class="d-flex playstoreandistore1">
                    <div class="div-playstoreandistore1">
                        <img class="playstoresym1" [src]="'assets/sm-apple.png'">
                    </div>
                    <div class="rating1 d-flex">
                        <p class="rate1">4.7</p>
                        <img class="star1" [src]="'assets/star.svg'">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="apphoto">
        <div class="row app">
            <div class="col-1">

            </div>
            <div class="col-4">
                <img class="apppic" [src]="'assets/Group+6232.png'">
            </div>
            <div class="col-1">

            </div>
            <div class="col-5 alltext">
                <h1 class="texthead">Get Fit The Fun Way!</h1>
                <p class="paratext">
                    Join the community of 2+ million users - find games, book with a few taps, and be a part of the
                    amateur sports revolution!&nbsp;
                </p>
                <div class="playstore">
                    <button class="bg-playstore">
                        <span class="space">Download The App</span>
                        <img alt="playstore" class="playstoreim space" [src]="'assets/playstore+1.png'">
                        <img alt="download-playo" class="apple space" [src]="'assets/apple-logo+1.png'">
                    </button>
                </div>
            </div>
        </div>
    </section>
    <footer class="foot">
        <div class="row">
            <div class="col-3">
                <img class="playoimage" [src]="'assets/logooo.png'">
                <p class="foot-text">Your Sports Community App</p>
                <div class="playstore">
                    <button class="bg-playstore">
                        <span class="space">Join Playo</span>
                        <img alt="playstore" class="playstoreim space" [src]="'assets/playstore+1.png'">
                        <img alt="download-playo" class="apple space" [src]="'assets/apple-logo+1.png'">
                    </button>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-3">
                <ul class="ul">
                    <a href="">
                        <li class="textli">About Us</li>
                    </a>
                    <a href="">
                        <li class="textli">Contact</li>
                    </a>
                    <a href="">
                        <li class="textli">Careers</li>
                    </a>
                    <a href="">
                        <li class="textli">Partner With Us</li>
                    </a>
                </ul>
            </div>
            <!-- <div class="1"></div> -->
            <div class="col-4 symbols">
                <div class="justify-center">
                    <a class="insta" href="https://instagram.com/playoapp/" class="w-6 h-6" target="_blank">
                        <img class="insta"
                            src="https://playo-website.gumlet.io/playo-website-v2/static_pages/footer-instagram.png">
                    </a>
                    <a href="https://facebook.com/PlayoApp" class="w-6 h-6" target="_blank">
                        <img class="facebook"
                            src="https://playo-website.gumlet.io/playo-website-v2/static_pages/footer-facebook.png">
                    </a>
                    <a href="https://www.linkedin.com/company/playo" class="w-6 h-6" target="_blank">
                        <img class="linkedin"
                            src="https://playo-website.gumlet.io/playo-website-v2/static_pages/footer-linkedin.png">
                    </a>
                    <a href="https://twitter.com/playoApp" class="w-6 h-6" target="_blank">
                        <img class="twitter"
                            src="https://playo-website.gumlet.io/playo-website-v2/static_pages/footer-twitter.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex footerdiv">
            <ul class="ulll justify-end d-flex">
                <li><a class="au" href="https://playo.zendesk.com/hc/en-us">
                        <h5 class="cursor-pointer">FAQs</h5>
                    </a></li>
                <li><a class="au" href="https://playo.co/privacy">
                        <h5 class="cursor-pointer">Privacy Policy</h5>
                    </a></li>
                <li><a class="au" href="https://playo.co/terms">
                        <h5 class="cursor-pointer">Terms of Service</h5>
                    </a></li>
                <li><a class="au" href="https://playo.co/cancellation-refund">
                        <h5 class="cursor-pointer">Cancellation Policy</h5>
                    </a></li>
            </ul>
            <li class="text-center">© 2023 Techmash Solutions Private Limited. All
                Rights Reserved.</li>
        </div>
    </footer>
</div>
