

<nav class="navbar background-image row">
    <div class="col-7"></div>
    <div class="navdiv col-5">
        <ul class="navitems">
            <li class="nav-item">
                <div class="li-div-search">
                    <input  type="search"  class="searchactivities" placeholder="search venues">
                    <img [src]="'/assets/location.png'" class="locationimage">
                </div>
            </li>
            <li class="nav-item"><span class="play">PLAY</span>
            </li>
            <li class="nav-item" routerLink="/loginreq"><span class="book">CREATE</span>
            </li>
            <li class="nav-item" routerLink="/loginreq"><span class="book">LOG OUT</span>
            </li>
        </ul>
    </div>
</nav>